name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 20.101.123.118 >> ~/.ssh/known_hosts

      - name: Deploy to VM
        run: |
          ssh -o StrictHostKeyChecking=no azureuser@20.101.123.118 << 'EOF'
            cd ~/devops-azure-docker-project
            git pull origin main
            cd app
            sudo docker rm -f devops-container || true
            sudo docker build -t devops-app .
            sudo docker run -d -p 80:80 --name devops-container --restart always devops-app
          EOF
