---
- name: Install and Configure Docker
  hosts: azure
  become: yes

  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started

    - name: Enable Docker on boot
      service:
        name: docker
        enabled: yes
