---
- name: Install and Configure Docker
  hosts: all
  become: yes

  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install required dependencies
      apt:
        name:
          - docker.io
          - python3-pip
        state: present

    - name: Install Docker Python module
      pip:
        name: docker

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Run nginx container
      community.docker.docker_container:
        name: my-app
        image: nginx
        state: started
        restart_policy: always
        published_ports:
          - "80:80"
